@using Microsoft.FluentUI.AspNetCore.Components

<div class="notif-item">
    <FluentIcon Value="@Icon" Color="Color.Custom" CustomColor="@CustomColor" />
    <div class="notif-item-text">
        <div class="notif-item-title">@Title</div>
        <div class="notif-item-sub">@Subtitle</div>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public Icon Icon { get; set; } = default!;
    [Parameter] public string CustomColor { get; set; } = "#0078d4";
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Subtitle { get; set; }
}
